@import "tailwindcss";

body {
  background-color: #000;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-track-gray-900::-webkit-scrollbar-track {
  background: #111111;
}

.scrollbar-thumb-gray-700::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 4px;
}

.scrollbar-thumb-gray-700:hover::-webkit-scrollbar-thumb {
  background: #4b5563;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #374151 #111111;
}
